.venv
.vscode
prototype.ipynb
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
*.DS_Store
*.egg-info
*.coverage
*.mypy_cache
*.pytest_cache
*.ipynb_checkpoints
*.pkl
*.pyd
*.whl
*.tar.gz
*.zip
*.egg
*.dist-info
*.idea
*.key
